    <div class="messages">
    <% unless flash[:notice].nil? %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% unless flash[:alert].nil? %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    </div>